<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PCS CADASTRADOS</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>


<div class="container mt-5">

    <h1>Mostrar PCS Disponiveis</h1>

    <div th:each="pc : ${PCS}">

        <div class="card" style="width: 18rem;">
            <img src="https://cdn.awsli.com.br/954/954868/produto/35665852/a70bef26db.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${pc.Processador}"></h5>
                <p class="card-text"  th:text="${pc.PlacaDeVideo}"></p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>

        <br>

    </div>


</div>
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>