<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar PCS</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">


    <table border="1" class="table table-striped">
        <thead>
        <tr>
            <th>Processador</th>
            <th>Placa De Video</th>
            <th>Memoria Ram</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pc : ${PCS}">
            <td th:text="${pc.Processador}"></td>
            <td th:text="${pc.PlacaDeVideo}"></td>
            <td th:text="${pc.Ram}"></td>
            <td>

                <a th:href="@{/admin/pcs/atualizar(id=${pc.id})}" class="btn btn-secondary btn-sm" sec:authorize="hasRole('ADMIN')">Atualizar</a>

                <form th:action="@{/admin/pcs/deletar}" method="post" style="display:inline" sec:authorize="hasRole('ADMIN')">
                    <input type="hidden" name="id" th:value="${pc.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

</div>
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>